/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-image: url(../public/images/bgs2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: iransans;
}
@font-face {
    font-family: iransans;
    src: url(../public/fonts/font1.ttf);
}